{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
    <br>
    <a href="news_edit" class="btn btn-outline-success">Добавить новость</a>
    <br>
{% endif %}
{% for item in news%}
<br>
<center>
<div class="di1">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    {% if qbuild == True%}
        <div>
            1 прикрепленная сборка
        </div>
    {% endif %}
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
    {% if (current_user.is_authenticated and current_user == item.user) or role == true%}
    <div>
        <a href="/news_edit/{{ item.id }}" class="btn btn-outline-info">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-outline-danger">
            Удалить
        </a>
    </div>
{% endif %}
    <br>
    <div>
        <a href="/news/{{ item.id }}" class="btn btn-outline-primary">
            Просмотр
        </a>
    </div>
</div>
</center>
{% endfor %}

{% endblock %}