{% extends "base.html" %}
    {% block content %}
    <br>
        <div class="di1">
            <div class="col-md6">
                <h1>{{news.title}}</h1>
                <div>
                    {{news.content}}
                </div><div id="itemBuildContent">
			<div id='itemBuildInnerContent'><div class='itemBuildInnerSection'><div class='itemBuildContainer'><div class='itemBuildSectionHeader'>НАЧАЛЬНЫЙ ЗАВТРАК</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='circlet'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/circlet_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='tango'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/tango_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='faerie_fire'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/faerie_fire_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='branches'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/branches_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='quelling_blade'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/quelling_blade_lg.png?3' ></div>
</div>
</div>
</div>
<div class='itemBuildContainer lastSectionOnRow'><div class='itemBuildSectionHeader'>РАННИЙ ХАЙПОВЫЙ ШМОТ</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='phase_boots'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/phase_boots_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='mask_of_madness'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/mask_of_madness_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='maelstrom'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/maelstrom_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='lesser_crit'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/lesser_crit_lg.png?3' ></div>
</div>
</div>
</div>
</div>
<br clear="both"/><div class="itemBuildInnerSection"><div class='itemBuildContainer'><div class='itemBuildSectionHeader'>ОСНОВНОЙ ЛУТ</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='greater_crit'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/greater_crit_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='mjollnir'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/mjollnir_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='satanic'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/satanic_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='butterfly'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/butterfly_lg.png?3' ></div>
</div>
</div>
</div>
<div class='itemBuildContainer lastSectionOnRow'><div class='itemBuildSectionHeader'>РЕШЕНИЕ ПРОБЛЕМ</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='armlet'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/armlet_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='black_king_bar'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/black_king_bar_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='shadow_amulet'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/shadow_amulet_lg.png?3' ></div>
</div>
</div>
</div>
</div>
<br clear="both"/><div class="itemBuildInnerSection"><div class='itemBuildContainer'><div class='itemBuildSectionHeader'>БЕССМЕРТИЕ</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='invis_sword'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/invis_sword_lg.png?3' ></div>
</div>
</div>
</div>
<div class='itemBuildContainer lastSectionOnRow'><div class='itemBuildSectionHeader'>ЧТОБ ПРЫГАТЬ КАК ЛЯГУШЬКА</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='blink'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/blink_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='swift_blink'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/swift_blink_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='overwhelming_blink'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/overwhelming_blink_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='arcane_blink'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/arcane_blink_lg.png?3' ></div>
</div>
</div>
</div>
</div>
<br clear="both"/><div class="itemBuildInnerSection"><div class='itemBuildContainer'><div class='itemBuildSectionHeader'>НЕЙТРАЛКИ</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='possessed_mask'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/possessed_mask_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='faded_broach'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/faded_broach_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='imp_claw'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/imp_claw_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='ring_of_aquila'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/ring_of_aquila_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='grove_bow'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/grove_bow_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='paladin_sword'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/paladin_sword_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='titan_sliver'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/titan_sliver_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='elven_tunic'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/elven_tunic_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='mind_breaker'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/mind_breaker_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='ninja_gear'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/ninja_gear_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='minotaur_horn'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/minotaur_horn_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='the_leveller'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/the_leveller_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='desolator_2'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/desolator_2_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='ballista'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/ballista_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='giants_ring'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/giants_ring_lg.png?3' ></div>
</div>
</div>
</div>
<div class='itemBuildContainer lastSectionOnRow'><div class='itemBuildSectionHeader'>youtube - kyltyapka_(ПОДПИШИСЬ)</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'></div>
</div>
</div>
</div>
<br clear="both"/><div class="itemBuildInnerSection"><div class='itemBuildContainer'><div class='itemBuildSectionHeader'>TWITCH - KYLTYAPKA_ (ПОДПИШИСЬ)</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'></div>
</div>
</div>
</div>
</div>
<br clear="both"/>		</div>

<div>
                    Автор - {{news.user.name}}, Дата написания - {{news.created_date}}
                </div>
            </div>
        </div>
    {% endblock %})
            