{% extends "base.html" %}
    {% block content %}
    <br>
        <div class="di1">
            <div class="col-md6">
                <h1>{{news.title}}</h1>
                <div>
                    {{news.content}}
                </div><div id="itemBuildContent">
			<div id='itemBuildInnerContent'><div class='itemBuildInnerSection'><div class='itemBuildContainer'><div class='itemBuildSectionHeader'>ЕСЛИ МОЖНО ЗАДОМИНИРОВАТЬ на линии</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='circlet'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/circlet_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='quelling_blade'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/quelling_blade_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='circlet'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/circlet_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='tango'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/tango_lg.png?3' ></div>
</div>
</div>
</div>
<div class='itemBuildContainer lastSectionOnRow'><div class='itemBuildSectionHeader'>Если сосем по жесткачу</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='magic_stick'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/magic_stick_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='branches'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/branches_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='branches'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/branches_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='circlet'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/circlet_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='quelling_blade'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/quelling_blade_lg.png?3' ></div>
</div>
</div>
</div>
</div>
<br clear="both"/><div class="itemBuildInnerSection"><div class='itemBuildContainer'><div class='itemBuildSectionHeader'>база</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='power_treads'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/power_treads_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='vanguard'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/vanguard_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='diffusal_blade'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/diffusal_blade_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='yasha'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/yasha_lg.png?3' ></div>
</div>
</div>
</div>
<div class='itemBuildContainer lastSectionOnRow'><div class='itemBuildSectionHeader'>если нас не снесут на 25(не рекомендую)</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='power_treads'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/power_treads_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='bfury'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/bfury_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='manta'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/manta_lg.png?3' ></div>
</div>
</div>
</div>
</div>
<br clear="both"/><div class="itemBuildInnerSection"><div class='itemBuildContainer'><div class='itemBuildSectionHeader'>в итоге обычно получается это</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='manta'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/manta_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='abyssal_blade'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/abyssal_blade_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='skadi'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/skadi_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='butterfly'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/butterfly_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='monkey_king_bar'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/monkey_king_bar_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='satanic'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/satanic_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='aghanims_shard'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/aghanims_shard_lg.png?3' ></div>
</div>
</div>
</div>
<div class='itemBuildContainer lastSectionOnRow'><div class='itemBuildSectionHeader'>по ситуации</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='black_king_bar'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/black_king_bar_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='assault'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/assault_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='heart'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/heart_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='octarine_core'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/octarine_core_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='bloodthorn'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/bloodthorn_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='ultimate_scepter'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/ultimate_scepter_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='sheepstick'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/sheepstick_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='revenants_brooch'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/revenants_brooch_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='moon_shard'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/moon_shard_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='nullifier'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/nullifier_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='silver_edge'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/silver_edge_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='rapier'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/rapier_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='heavens_halberd'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/heavens_halberd_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='travel_boots'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/travel_boots_lg.png?3' ></div>
</div>
</div>
</div>
</div>
<br clear="both"/><div class="itemBuildInnerSection"><div class='itemBuildContainer'><div class='itemBuildSectionHeader'>расходники</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='enchanted_mango'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/enchanted_mango_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='ward_sentry'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/ward_sentry_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='ward_observer'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/ward_observer_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='flask'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/flask_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='enchanted_mango'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/enchanted_mango_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='faerie_fire'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/faerie_fire_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='clarity'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/clarity_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='tpscroll'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/tpscroll_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='smoke_of_deceit'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/smoke_of_deceit_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='dust'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/dust_lg.png?3' ></div>
</div>
</div>
</div>
<div class='itemBuildContainer lastSectionOnRow'><div class='itemBuildSectionHeader'>)))))))))))))</div>
<div class='itemBuildSection'><div class='thinHR'></div>
<div class='itemBuildIconContainer'><div class='itemBuildSectionIcon itemIconWithTooltip' itemname='travel_boots'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/travel_boots_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='radiance'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/radiance_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='ultimate_scepter'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/ultimate_scepter_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='octarine_core'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/octarine_core_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='ethereal_blade'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/ethereal_blade_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='bloodthorn'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/bloodthorn_lg.png?3' ></div>
<div class='itemBuildSectionIcon itemIconWithTooltip' itemname='dagon_5'><img src='https://cdn.cloudflare.steamstatic.com/apps/dota2/images//items/dagon_5_lg.png?3' ></div>
</div>
</div>
</div>
</div>
<br clear="both"/><div class="itemBuildInnerSection"></div>
</div>
<br clear="both"/>		</div>

<div>
                    Автор - {{news.user.name}}, Дата написания - {{news.created_date}}
                </div>
            </div>
        </div>
    {% endblock %})
            